<section id="get-started" class="hero mt-12 py-36 text-center">
  <p class="text-white text-3xl font-light tracking-tight">Ready for {{meta.siteName}}?</p>
  <div class="flex justify-center">
    <a href="#" class="block mt-8 {{styles.background.primary.five}} text-white px-4 py-3 font-semibold rounded-lg hover:{{styles.background.primary.four}}"
      onclick="(()=>{
              let dburl = document.querySelector('#database_url').value;
              let sessionsecret = document.querySelector('#session_secret').value;
              toggleModal('modal-example-large')
              console.log(`{{links.netlify.url}}#DATABASE_URL=${dburl}&SESSION_SECRET=${sessionsecret}`)
          })()"
      >{{links.netlify.name}}</a
    >
  </div>
</section>