---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
# 301 permanent redirect
# 302 temporary redirect
# 404 file not found
# 200 file found
#
/explaination/* /docs/:splat 301
/guide/* /cookbooks/:splat 301
/properties/* /property/:splat 301
# https://sn.jace.pro/script-includes/assessmentutils/
/script-includes/assessmentutils /script-include/global-assessmentutils 301
# attempt global scope
/script-includes/* /script-include/global-:splat 302
/classes/* /docs/:splat 301
/other/email/ /reference/email/ 301
